body{
    background-color: #E4F2FE;
    position: relative;
}
.h41{
    margin-top: 20%;
    margin-left: 25%;
    font-size: 30px;
    color: aqua;
}
.p1{
margin-left: 25%;
    font-size: 20px;
}
.pop-up{
    text-align: left;
    background-color: white;
    margin-right: 50%;
    border-color: #E4F2FE;
    border-top: red;
    border-radius: 4px;
    display: flex;
    border-style:solid;
    margin-left: 20%;
}
.h21{
    font-size: 30px;
    color: aqua;
    margin-left: 5%;

}
.retry-button{
    font-size: 25px;
    background-color: blue;
    color: bisque;
    border-radius: 5px;
    margin-left: 5%;
    cursor: pointer;
}